*{
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: rgb(241, 250, 238);
}

#navbar1{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    background-color: rgb(29, 53, 87);
    height: 5%;
    width: inherit;
}

#home{
    position: absolute;
    left: 0.5%; 
    height: 5%;
    width: 2.5%;
    background-color: rgb(69, 123, 157);
    border-radius: 5px;
}

#test{
    background-image: url(../images/home_icon.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
    height: 100%;
    width: 100%;
}

.boardName{
    position: absolute;
    left: 3.5%;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    color: antiquewhite;
}

.boardName:hover {
    cursor: pointer;
}

#boardContainer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.boardIcon{
    position: relative;
    top: 5%;
    height: 85%;
    width: 2.5%;
    background-color: rgb(69, 123, 157);
    border: 3px solid rgb(29, 53, 87);
    border-radius: 5px;
    text-align: center;
    font-family: sans-serif;
    color: antiquewhite;
}

#navbar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 5%;
    width: inherit;
}

.innhold{
    height: 100%;
    width: inherit;
    background-color: rgb(168, 218, 220);
    border: 2px solid rgb(29, 53, 87);
}

.innhold:hover{
    cursor: pointer;
}

.innhold p{
    text-align: center;
    font-family: sans-serif;
}

#createFirstBoardPopUp{
    position: relative;
    top: 15%;
    left: 37.5%;
    width: 25%;
    height: 25%;
    background-color: rgb(75, 0, 225);
    border-radius: 8px;
}

.board{
    display: flex;
    flex-flow: row nowrap;
    height: inherit;
    width: inherit;
    overflow: hidden;
}

.svadainnhold{
    position: relative;
    background-color: rgb(168, 218, 220);
    border: 2px solid rgb(29, 53, 87);
    height: inherit;
    width: inherit;
}

.svadainnhold p{
    text-align: center;
    font-family: sans-serif;
}

.removeColumn{
    position: relative;
    background-image: url(../images/crossIcon.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
    height: 3%;
    width: 3%;
    top: 0.5%;
    left: 96%;
}

.removeColumn:hover{
    cursor: pointer;
}

.dragDropTask{
    position: relative;
    height: 15%;
    width: 90%;
    left: 5%;
    background-color: rgb(230, 57, 70);
    border: 3px solid rgb(168, 218, 220);
    border-radius: 25px;
}

.dragDropTask:hover {
    cursor: grab;
}

.assignPerson{
    position: absolute;
    width: 10%;
    height: 10%;
    left: 45%;
    top: 45%;
}

.assignPerson:hover{
    cursor: pointer;
}

