*{
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    font-size: 1.5vw, 1.5vh;
    font-family: sans-serif;
    text-transform: uppercase;
}

#navbar1{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    background-color: rgb(29, 53, 87);
    height: 5%;
    width: inherit;
}

#home{
    position: absolute;
    left: 0.5%; 
    height: 5%;
    width: 2.5%;
    background-color: rgb(69, 123, 157);
    border-radius: 5px;
}

#homeIcon{
    background-image: url(../images/home_icon.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
    height: 100%;
    width: 100%;
}

#boardNamesContainer{
    position: absolute;
    left: 3.5%;
}

.boardName{
    text-align: center;
    color: rgb(255, 255, 255);
}

.boardName:hover {
    cursor: pointer;
}

#boardIconContainer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.boardIcon{
    position: relative;
    top: 5%;
    height: 85%;
    width: 2.5%;
    background-color: rgb(69, 123, 157);
    border: 3px solid rgb(29, 53, 87);
    border-radius: 5px;
    overflow: hidden;
}

.boardIcon p{
    position: relative;
    top: -20%;
    left: 30%;
    color: rgb(255, 255, 255);
}

.boardIcon:hover {
    cursor: pointer;
    box-shadow: inset 0 0 6px rgb(29, 53, 87);
}

#navbar2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 5%;
    width: inherit;
}

.innhold{
    height: 100%;
    width: inherit;
    background-color: rgb(168, 218, 220);
    border: 2px solid rgb(29, 53, 87);
    overflow: hidden;
    border-radius: 6px;
}

.innhold:hover{
    box-shadow: inset 0 0 6px rgb(29, 53, 87);
}

.innhold p{
    text-align: center;
}
.board{
    display: flex;
    flex-flow: row nowrap;
    height: inherit;
    width: inherit;
    overflow: hidden;
}

.boardColumn{
    position: relative;
    background-color: rgb(168, 218, 220);
    border: 2px solid rgb(29, 53, 87);
    height: inherit;
    width: inherit;
    border-radius: 6px;
}

.boardColumn p{
    text-align: center;
}

.boardColumn p:hover{
    cursor: text;
}

.removeColumn{
    position: absolute;
    height: 3%;
    width: 3%;
    top: 0.5%;
    left: 96%;
    background-image: url(../images/crossIcon.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
    z-index: 1;
    border-radius: 25px;
}

.removeColumn:hover{
    cursor: pointer;
}

.dragDropTask{
    position: relative;
    height: 15%;
    width: 90%;
    left: 5%;
    background-color: rgb(244, 245, 247);
    border: 3px solid rgb(168, 218, 220);
    border-radius: 15px;
}

.dragDropTask:hover {
    cursor: grab;
    background-color: rgb(235, 236, 242);
}

select{
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 15%;
    height: 15%;
    border-radius: 5px;
    z-index: 1;
}

select:hover{
    cursor: pointer;
}

.datePicker{
    position: absolute;
    bottom: 0%;
    border-radius: 5px;
    height: 15%;
    width: 130px;
}

.taskInfo{
    position: absolute;
    top: 7%;
    left: 5%;
    height: 75%;
    width: 90%;
    border-radius: 8px;
    overflow: hidden;
}

.taskInfo p {
    text-align: center;
}

.taskInfo p:hover {
    cursor: text;
}